apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-worker
  namespace: sentiment-analysis
  labels:
    app: spark-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-worker
  template:
    metadata:
      labels:
        app: spark-worker
    spec:
      enableServiceLinks: false
      containers:
      - name: spark-worker
        image: apache/spark:3.4.1
        command: ["/opt/spark/bin/spark-class"]
        args: ["org.apache.spark.deploy.worker.Worker", "spark://spark-master:7077"]
        ports:
        - containerPort: 8081
          name: web
        resources:
          requests:
            memory: "1Gi"
            cpu: "500m"
          limits:
            memory: "2Gi"
            cpu: "1000m"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker
  namespace: sentiment-analysis
  labels:
    app: spark-worker
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: web
  selector:
    app: spark-worker
