apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-master
  namespace: sentiment-analysis
  labels:
    app: spark-master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spark-master
  template:
    metadata:
      labels:
        app: spark-master
    spec:
      enableServiceLinks: false
      containers:
      - name: spark-master
        image: apache/spark:3.4.1
        command: ["/opt/spark/bin/spark-class"]
        args: ["org.apache.spark.deploy.master.Master"]
        ports:
        - containerPort: 7077
          name: rpc
        - containerPort: 8080
          name: web
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: spark-master
  namespace: sentiment-analysis
  labels:
    app: spark-master
spec:
  type: ClusterIP
  ports:
  - port: 7077
    targetPort: 7077
    protocol: TCP
    name: rpc
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: web
  selector:
    app: spark-master
